.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.inputContainer input[type="text"] {
  width: 95%;
  padding: 15px;
  margin: 15px 0;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--input-background);
  color: var(--text-color);
  font-size: 1.1em;
  transition: border 0.3s;
}

.inputContainer input[type="text"]:focus {
  border-color: var(--hover-background-color);
}

.inputContainer button {
  background-color: var(--button-background);
  color: var(--text-color);
  border: none;
  padding: 12px 25px;
  margin: 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1em;
  transition: background-color 0.3s, transform 0.2s;
  font-family: 'Montserrat', sans-serif;
}

.inputContainer button:hover {
  background-color: var(--hover-background-color);
}

.cancelButton {
  background-color: var(--cancel-button-background);
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

.cancelButton:hover {
  background-color: var(--cancel-button-hover);
}

button:disabled {
  background-color: #ccc;
  /* Светло-серый цвет для заблокированной кнопки */
  color: #666;
  /* Тусклый цвет текста */
  cursor: not-allowed;
  /* Курсор "не разрешен" */
}

button:disabled:hover {
  background-color: #ccc;
  /* Цвет не меняется при наведении */
}

.disabledButton {
  cursor: not-allowed;
  background-color: var(--border-color);
  color: var(--text-color);
}